body{
    font-family: "Playfair Display", serif;
    color: #4a3933;
    line-height: 1.6;
}
.container{
    margin: 0 auto;
    padding: 0 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 25px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand-text h1 {
    font-size: 45px;
    font-weight: 400;
    color: #4a3933;
    margin: 0;
    line-height: 1.2;
    font-family: "Great Vibes", cursive;
}

.brand-text p {
    margin: 0;
    font-size: 14px;
    color: #7a6357;
}
nav{
    margin-left: auto;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav a{
    color: #4a3933;
    text-decoration: none;
    font-weight: 600;
    transition: ease-in-out 0.3s;
}
nav a:hover{
    opacity: 0.7;
}

