body{
    font-family: "Playfair Display", serif;
    color: #4a3933;
    line-height: 1.6;
}
.container{
    margin: 0 auto;
    padding: 0 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 25px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand-text h1 {
    font-size: 45px;
    font-weight: 400;
    color: #4a3933;
    margin: 0;
    line-height: 1.2;
    font-family: "Great Vibes", cursive;
}

.brand-text p {
    margin: 0;
    font-size: 14px;
    color: #7a6357;
}
nav{
    margin-left: auto;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav a{
    color: #4a3933;
    text-decoration: none;
    font-weight: 600;
    transition: ease-in-out 0.3s;
}
nav a:hover{
    opacity: 0.7;
}

.hero-section{
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4a3933;
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: 600px; 
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
}
.slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slide.active {
    display: block; 
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-content{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.hero-content h2{
    font-size: 48px;
    margin-bottom: 20px;
}
.hero-button{
    background: #523026;
    color:#CDA592;
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.hero-button:hover{
    background: #CDA592;
    color: #000;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}
.random-dessert{
    display: none;
    margin-top: 20px;
    background: rgba(255,255,255,0.95);
    padding: 15px;
    border-radius: 15px;
    color: #4a3933;
    text-align: center;
}
.random-dessert.show{
    display: block;
    animation: fadeIn 0.5s;
}
